node_modules
dist
out
cache
cache-foundry
artifacts
typechain-types
deploy-ledger
coverage
.DS_Store
.envq
lib


.editorconfig
.eslint
.cursorignore
.vscode
.cursor
.cursor/
.cursor/index/
.cursor/cache/
.cursor/rules/
.cursor/rules/scaffold-eth.mdc
.cursor/rules/scaffold-eth.mdc

.gitignore

.prettierrc
.vscode

work
bugs
docs/internal/icos.md
docs/internal/INTRINSIC_CURSOR_OPERATING_SYSTEM.md

docs/archived

